<ion-header>
  <ion-navbar color="primary">

    <ion-title><ion-icon start name="albums"></ion-icon> Items</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="newItem()">
    <ion-icon name="add"></ion-icon>
  </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-searchbar placeholder="Buscar" (ionInput)="filterItems($event)"></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let item of items | sortDescBy : 'date'">
      <button ion-item (click)="viewItem(item)">
        <ion-thumbnail *ngIf="item.image" item-start [style.background-color]="item.color">
          <img [src]="item.image">
        </ion-thumbnail>
        <h2>{{ item.title }}</h2>
        <p>{{ item.description }}</p>
        <ion-note item-end>{{ parseTwitterDate(item.date) }}</ion-note>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="removeItem(item)">
        <ion-icon name="trash"></ion-icon>
        Borrar
      </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item text-center *ngIf="!items || items.length <= 0">
      <b>No hay items</b><br>
      <p>Crea <a (click)="newItem()">tu primer item</a> ahora</p>
    </ion-item>

  </ion-list>
</ion-content>
