<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder=""></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-thumbnail item-start class="customized-image" [style.background-color]="item.color">
        <img [src]="item.img" />
      </ion-thumbnail>
      <h2>{{item.name}}</h2>
      <!-- <p>{{item.about}}</p>
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note> -->
    </button>
  </ion-list>
</ion-content>
